//================================================================================ VARS

$btn-lg-height: 			48px;												// [LARGE] button default height

$btn-lg-padding: 			15px;												// [LARGE] button padding

$btn-lg-font-size: 			16px;												// [LARGE] button default font size

$btn-lg-border-size: 		1px;												// [LARGE] button default border size

$btn-lg-border-radius: 		5px;												// [LARGE] button default border radius

//================================================================================ TEMPLATES

%button {
	display: 				inline-block;
	padding: 				( $btn-lg-height - ( $btn-lg-padding * 2 ) ) $btn-lg-padding;

	color: 					$brand-default-text-color;
	font-size: 				$btn-lg-font-size;
	font-weight: 			600;
	text-decoration: 		none;
	line-height: 			1em;
	cursor: 				pointer;
	outline: 				none;

	border: 				$btn-lg-border-size solid transparent;
	@include 				border-radius( $btn-lg-border-radius );
	@include 				border-box();

	background-color: 		$brand-default;

	@include				box-shadow( 0 4px 4px rgba(0,0,0,.1) );
	@include 				transition( box-shadow .8s ease, transform .8s ease-out );

	@mixin outline( $bg-color, $text-color ) {
		border: 				$btn-lg-border-size solid $text-color;
		color: 					$text-color;
		background-color: 		$bg-color;
	}

	&:hover {
		@include 				scale( 1.1 );
		@include 				box-shadow( 0 10px 30px rgba( $brand-default-text-color, .3 ) );
		z-index: 				1;
	}

	&.-outline { @include outline( $brand-default, $brand-default-text-color ) }

	&.-primary {
		color: 					$brand-primary-text-color;
		background-color: 		$brand-primary;

		&.-outline { @include outline( $brand-primary-text-color, $brand-primary ) }
	}

	&.-secondary {
		color: 					$brand-secondary-text-color;
		background-color: 		$brand-secondary;

		&.-outline { @include outline( $brand-secondary-text-color, $brand-secondary ) }
	}

	&.-tertiary {
		color: 					$brand-tertiary-text-color;
		background-color: 		$brand-tertiary;

		&.-outline { @include outline( $brand-tertiary-text-color, $brand-tertiary ) }
	}

}

%button-group {
	display: 				table;
	width: 					100%;

	button, .btn {
		display: 				table-cell;
	}
}

//================================================================================ CLASSES

button, .btn {
	@extend %button;
}

.btn-group{
	@extend %button-group;
}

//================================================================================ RESPONSIVE
