$desktop-font-size: 			14px;
$base-font-size:				16px;

//font sizes
$font-size-base:				16px;
$font-size-s:					12px;
$font-size-m:					14px;
$font-size-l:					18px;
$font-size-xl:					22px;

//layout and spaces
$margin-size-base:				12px;
$margin-size-small:				10px;
$margin-size-medium:			15px;
$margin-size-large: 			20px;

$padding-size-base:				12px;
$padding-size-small:			10px;
$padding-size-medium:			15px;
$padding-size-large:			20px;

//icon sizes
$icon-s: 						24px;
$icon-m: 						36px;
$icon-xl: 						52px;

// =============================================================================== SCREEN RESOLUTION

$screen-min-xl: 				1281px;

$screen-max-l:					1280px;
$screen-min-l:					1025px;

$screen-max-m: 					1024px;
$screen-min-m: 					481px;

$screen-max-s: 					768px;
$screen-min-s: 					481px;

$screen-max-xs:					480px;
