// ======================================================================================================= VARS

$anim-fade-duration:			1s;																		// animation duration
$anim-fade-delay:				0s;																		// animation delay
$anim-fade-timing:				linear;																	// animation timing function

// ======================================================================================================= CLASSES

.-bubble {
	animation-duration: 	$anim-fade-duration;
	animation-delay: 		$anim-fade-delay;
	animation-name: 		bubble;
	animation-fill-mode: 	forwards;
	animation-timing-function: $anim-fade-timing;

	&.-loop {
		animation-iteration-count: infinite;
	}

	&.-delay-1 { opacity: 0; animation-delay: 1s }
	&.-delay-2 { opacity: 0; animation-delay: 2s }
	&.-delay-3 { opacity: 0; animation-delay: 3s }
}

// ======================================================================================================= ANIMATIONS

@keyframes bubble {
    0%   { transform: scale(0.5); opacity:0.0; }
    50%  { transform: scale(1.2); opacity:0.5; }
    100% { transform: scale(1.0); opacity:1.0; }
}

@-webkit-keyframes bubble {
    0%   { transform: scale(0.5); opacity:0.0; }
    50%  { transform: scale(1.2); opacity:0.5; }
    100% { transform: scale(1.0); opacity:1.0; }
}
