// ======================================================================================================= TEXT ALIGNMENT & SIZE

.-txt-center 	{ text-align: center !important; }
.-txt-left  	{ text-align: left !important; }
.-txt-right		{ text-align: right !important; }
.-txt-justify 	{ text-align: justify !important; }

.-txt-xl { font-size: 2em !important; }
.-txt-l  { font-size: 1.5em !important; }
.-txt-m  { font-size: 1em !important; }
.-txt-s  { font-size: .8em !important; }
.-txt-xs { font-size: .5em !important; }

.-txt-bold 			{ font-weight: bold !important; }
.-txt-itelic		{ font-style: italic !important; }
.-txt-line-through	{ text-decoration: line-through !important; }
.-txt-uderline 		{ text-decoration: underline !important; }
.-txt-overline 		{ text-decoration: overline !important; }

// ======================================================================================================= PADDING & MARGIN

.-pad-xl { padding: $base-padding * 4 !important; }
.-pad-l  { padding: $base-padding * 2 !important; }
.-pad  { padding: $base-padding !important; }
.-pad-s  { padding: $base-padding / 2 !important; }
.-pad-xs { padding: $base-padding / 4 !important; }

.-pad-bottom-s { padding-bottom: $base-padding / 2 !important; }
.-pad-bottom-xs { padding-bottom: $base-padding / 4 !important; }

.-no-pad { padding: 0 !important; }
.-no-pad-left 	{ padding-left: 0 !important; }
.-no-pad-right 	{ padding-right: 0 !important; }
.-no-pad-top 	{ padding-top: 0 !important; }
.-no-pad-bottom { padding-bottom: 0 !important; }

.-marg-xl { margin: $base-margin * 4 !important; }
.-marg-l  { margin: $base-margin * 2 !important; }
.-marg  { margin: $base-margin !important; }
.-marg-s  { margin: $base-margin / 2 !important; }
.-marg-xs { margin: $base-margin / 4 !important; }
.-no-marg { margin: 0 !important; }
.-no-marg-left 		{ margin-left: 0 !important; }
.-no-marg-right 	{ margin-right: 0 !important; }
.-no-marg-top 		{ margin-top: 0 !important; }
.-no-marg-bottom 	{ margin-bottom: 0 !important; }

.-move-up-xl { margin-top: -$base-margin * 4 !important; }
.-move-up-l  { margin-top: -$base-margin * 2 !important; }
.-move-up  { margin-top: -$base-margin !important; }
.-move-up-s  { margin-top: -$base-margin / 2 !important; }
.-move-up-xs { margin-top: -$base-margin / 4 !important; }

.-move-down-xl { margin-top: $base-margin * 4 !important; }
.-move-down-l  { margin-top: $base-margin * 2 !important; }
.-move-down  { margin-top: $base-margin !important; }
.-move-down-s  { margin-top: $base-margin / 2 !important; }
.-move-down-xs { margin-top: $base-margin / 4 !important; }

.-push-xl { margin-bottom: $base-margin * 4 !important; }
.-push-l  { margin-bottom: $base-margin * 2 !important; }
.-push  { margin-bottom: $base-margin !important; }
.-push-s  { margin-bottom: $base-margin / 2 !important; }
.-push-xs { margin-bottom: $base-margin / 4 !important; }

// ======================================================================================================= DISPLAY ALIGNMENT

.-hide { display: none !important; }
.-show { display: block !important; }
.-show-cell { display: auto !important; }
.-show-inline { display: inline !important; }

// ======================================================================================================= BLOCK ALIGNMENT & MANIPULATION

.-abs 	 { position: absolute !important; }
.-pull-right  { float: right; }
.-pull-left   { float: left; }
.-pull-center {
	display: 				block;
	margin: 				0 auto;
	float: 					none !important;
}

// ======================================================================================================= COLOR MODIFICATIONS

.-primary 		{ @include draw( $brand-primary-txt, 	$brand-primary-bg, 		$brand-primary-br ); }
.-secondary 	{ @include draw( $brand-secondary-txt, 	$brand-secondary-bg, 	$brand-secondary-br ); }
.-tertiary 		{ @include draw( $brand-tertiary-txt, 	$brand-tertiary-bg, 	$brand-tertiary-br ); }
.-quaternary 	{ @include draw( $brand-quaternary-txt, $brand-quaternary-bg, 	$brand-quaternary-br ); }

.-success 		{ @include draw( $action-success-txt, 	$action-success-bg, 	$action-success-br ); }
.-info 			{ @include draw( $action-info-txt, 		$action-info-bg, 		$action-info-br ); }
.-warning 		{ @include draw( $action-warning-txt, 	$action-warning-bg, 	$action-warning-br ); }
.-danger 		{ @include draw( $action-danger-txt, 	$action-danger-bg, 		$action-danger-br ); }

.-light 		{ @include btn-base( $light-color-txt, 	$light-color-bg, 		$light-color-br ); }
.-dark 			{ @include btn-base( $dark-color-txt,	$dark-color-bg,	 		$dark-color-br ); }

.txt-primary 	{ color: $brand-primary-bg !important; }
.txt-secondary 	{ color: $brand-secondary-bg !important; }
.txt-tertiary 	{ color: $brand-tertiary-bg !important; }
.txt-quaternary { color: $brand-quaternary-bg !important; }

.txt-success 	{ color: $action-success-bg !important; }
.txt-info 		{ color: $action-info-bg !important; }
.txt-warning 	{ color: $action-warning-bg !important; }
.txt-danger 	{ color: $action-danger-bg !important; }

.txt-light 		{ color: $light-color-bg !important; }
.txt-dark 		{ color: $dark-color-bg !important; }

.bg-primary 	{ background-color: $brand-primary-bg !important; }
.bg-secondary 	{ background-color: $brand-secondary-bg !important; }
.bg-tertiary 	{ background-color: $brand-tertiary-bg !important; }
.bg-quaternary 	{ background-color: $brand-quaternary-bg !important; }

.bg-success {  background-color: $action-success-bg !important; }
.bg-info 	{  background-color: $action-info-bg !important; }
.bg-warning {  background-color: $action-warning-bg !important; }
.bg-danger 	{  background-color: $action-danger-bg !important; }

.bg-light    { background-color: rgba( $light-color-bg, .1); }
.bg-lighter  { background-color: rgba( $light-color-bg, .2); }
.bg-lightest { background-color: rgba( $light-color-bg, .3); }

.bg-dark    { background-color: rgba( $dark-color-bg, .1); }
.bg-darker  { background-color: rgba( $dark-color-bg, .2); }
.bg-darkest { background-color: rgba( $dark-color-bg, .3); }

.-clearfix { @extend %clearfix; }

.-h78 {
	font-size: 				78px;
	line-height: 			1.2em;
	color: 					inherit;
	font-family: 			'Miller Banner';
	text-shadow: 			0 0 15px rgba(0,0,0,0.2);
}

.-anex {
	position: 				absolute;
    right: 					$base-padding / 2;
    bottom: 				0px;

	color: 					$action-info-bg;
    font-size: 				10px;
    font-family: 			Verdana;

	text-shadow: 			0 1px 1px rgba(0,0,0, 0.1);
}
