//================================================================================ VARS

$grid-columns: 				12;													// button default height

//================================================================================ TEMPLATES & MIXINS

%clearfix {
	&:before, &:after {
		display: 				table;
		content: 				" ";
	}

	&:after {
		clear: 					both;
	}
}

%grid-cell {
	position: 				relative;
	display: 				block;
	float: 					left;

	border: 				1px solid #ccc;
	box-sizing: 			border-box;
}

@mixin grid-base( $size ) {
	width:  ( 100% / $grid-columns ) * $size;
}

//================================================================================ CLASSES

@for $i from 1 through $grid-columns {
	.-xs#{$i}, .-s#{$i}, .-m#{$i}, .-l#{$i}, .-xl#{$i} {
		@include grid-base( $i );
		@extend %grid-cell;
	}

}

.row {
	display: 				block;
	width: 					100%;

	@extend %clearfix;
}

//================================================================================ RESPONSIVE

@media screen and ( max-width: $screen-max-xs ) {

	@for $i from 1 through $grid-columns {
		.-xs#{$i}, .-s#{$i}, .-m#{$i}, .-l#{$i}, .-xl#{$i} {
			@include grid-base( $i );
			@extend %grid-cell;
		}
	}

}
