// ======================================================================================================= VARS
// vars can be moved to base/_vars.scss file in case of supporting multiple themes

$grid-columns: 						12;																	// number of columns in a grid

// ======================================================================================================= TEMPLATES & MIXINS

%clearfix {
	&:before, &:after { display: table; content: " "; }
	&:after { clear: both; }
}

%row {
	display:				block;
	width:					100%;
	@include 				border-box();
}

%cell {
	display: 				inline;
	@include 				border-box();
}

@mixin cell-width( $size ) {
	width:  ( 100% / $grid-columns ) * $size;
}

// ======================================================================================================= CLASSES

.row {
	@extend %row;
	@extend %clearfix;
}

@for $i from 1 through $grid-columns {
	.-xs#{$i}, .-s#{$i}, .-m#{$i}, .-l#{$i}, .-xl#{$i} {
		@extend %cell;
	}
}

// ======================================================================================================= RESPONSIVE

@media all and ( max-width: $screen-size-xl ) {

	@for $i from 1 through $grid-columns {
		.-xl#{$i} { @include cell-width( $i ); }
	}

}

@media all and ( max-width: $screen-size-l ) {

	@for $i from 1 through $grid-columns {
		.-l#{$i} { @include cell-width( $i ); }
	}

}

@media all and ( max-width: $screen-size-m ) {

	@for $i from 1 through $grid-columns {
		.-m#{$i} { @include cell-width( $i ); }
	}

}

@media all and ( max-width: $screen-size-s ) {

	@for $i from 1 through $grid-columns {
		.-s#{$i} { @include cell-width( $i ); }
	}

}

@media all and ( max-width: $screen-size-xs ) {

	@for $i from 1 through $grid-columns {
		.-xs#{$i} { @include cell-width( $i ); }
	}

}
