// ======================================================================================================= VARS

$btn-height: 					$default-height;														// button default - height
$btn-height-small:				$default-height * .75;													// button default - height small
$btn-padding: 					$base-padding;															// button default - padding
$btn-font-size: 				$desktop-font-size;														// button default - font size
$btn-border-size: 				2px;																	// button default - border size
$btn-border-radius: 			$btn-height / 2;														// button default - border radius
$btn-badge-size: 				28px;

// ======================================================================================================= TEMPLATES & MIXINS

@mixin btn-base( $txt, $bg, $br: $bg ) {
	color: 					$txt;
	background-color: 		$bg;
	border-color: 			$br;

	&.-outline {
		color:					$bg;
		line-height: 			$btn-height - ($btn-border-size * 2);
		border: 				$btn-border-size solid $br;
		background-color:		transparent;
	}

	svg, .spinner svg {
		fill: 					$txt !important;
		stroke: 				$txt !important;
	}
}

@mixin outline( $txt, $br ) {
	color:					$txt;
	line-height: 			$btn-height - ($btn-border-size * 2);
	border: 				$btn-border-size solid $br;
	background-color:		transparent;
}

%btn {
	position:				relative;
	display:				inline-block;
	height: 				$btn-height;
	padding:				0 ($btn-padding / 2);
	overflow: 				hidden;

	font-size: 				$btn-font-size;
	font-weight: 			normal;
	font-family: 			$desktop-font-family;
	text-decoration: 		none;
	text-transform: 		uppercase;
	text-overflow: 			ellipsis;
	text-align: 			center;
	line-height: 			$btn-height;
	cursor: 				pointer;
	outline: 				none;
	white-space: 			nowrap;

	vertical-align: 		middle;

	@include 				btn-base( $content-color-txt, $content-color-bg, $content-color-br );

	border: 				none;
	@include 				round( 3px );
	@include 				border-box();


	&.-round { @include round( $btn-border-radius ); }
	&.-outline { @include outline( $base-color-txt, $base-color-txt ); }

	&.-primary 		{ @include btn-base( $brand-primary-txt, 	$brand-primary-bg ); }
	&.-secondary 	{ @include btn-base( $brand-secondary-txt, 	$brand-secondary-bg ); }
	&.-tertiary 	{ @include btn-base( $brand-tertiary-txt, 	$brand-tertiary-bg ); }
	&.-quaternary 	{ @include btn-base( $brand-quaternary-txt, $brand-quaternary-bg ); }

	&.-success 	{ @include btn-base( $action-success-txt, 	$action-success-bg ); }
	&.-info 	{ @include btn-base( $action-info-txt, 		$action-info-bg ); }
	&.-warning 	{ @include btn-base( $action-warning-txt, 	$action-warning-bg ); }
	&.-danger 	{ @include btn-base( $action-danger-txt, 	$action-danger-bg ); }

	&.-light 	{ @include btn-base( $light-color-txt, 		$light-color-bg, 	$light-color-br ); }
	&.-dark 	{ @include btn-base( $dark-color-txt,		$dark-color-bg,	 	$dark-color-br ); }

	&.-glass	{
		@include btn-base( inherit, transparent );

		&.-light { @include btn-base( $light-color-bg, transparent ); }
		&.-dark  { @include btn-base( $dark-color-bg, transparent ); }
	}

	&:disabled, &[disabled^="disabled"] { @include btn-base( $btn-disable-txt, $btn-disable-bg ); }

	&.-small {
		height: 				$btn-height-small;
		padding: 				0 ($btn-padding / 3);

	    line-height: 			$btn-height-small;
	    font-size: 				12px;
	}

	&.-mobile { max-width: 414px; }
	&.-icon {
		width: 					$btn-height;
		height: 				$btn-height;
		padding: 				0;

		text-align: 			center;
		line-height: 			$btn-height;
		font-size: 				150%;
	}

	&.-badge { overflow: visible; }

	ion-spinner svg {
		width: 					$btn-height;
		height: 				$btn-height;
	}

	.btn-badge {
		position: 				absolute;
		display: 				block;
		width: 					$btn-badge-size;
		height: 				$btn-badge-size;
		bottom: 				-($btn-badge-size / 2);
		left: 					9px;

		color: 					$brand-primary-txt;
		font-size: 				12px;
		line-height: 			$btn-badge-size;
		font-family: 			Arial;
		text-shadow: 			0 1px 1px rgba(0,0,0,.5);

		@include 				round( $btn-badge-size / 2 );
		@include 				shadow( 0 1px 2px rgba(0,0,0,.3) );
		background-color: 		$brand-primary-bg;

		&.-primary 		{ color: $brand-primary-txt; 		background-color: $brand-primary-bg; }
		&.-secondary 	{ color: $brand-secondary-txt; 		background-color: $brand-secondary-bg; }
		&.-tertiary 	{ color: $brand-tertiary-txt; 		background-color: $brand-tertiary-bg; }
		&.-quaternary 	{ color: $brand-quaternary-txt; 	background-color: $brand-quaternary-bg; }

		&.-success 	{ color: $action-success-txt; 	background-color: $action-success-bg; }
		&.-info 	{ color: $action-info-txt; 		background-color: $action-info-bg; }
		&.-warning 	{ color: $action-warning-txt; 	background-color: $action-warning-bg; }
		&.-danger 	{ color: $action-danger-txt; 	background-color: $action-danger-bg; }

	}

}

%btn-group {
	@include 				display-flex();
	@include 				flex-flow( row nowrap );
	width: 					100%;

	button, .btn {
		display: 				block;
		min-width: 				1%;
		margin-left:			5px;

		&:first-child { margin-left: 0; }

		&.-icon {
			width: 					$btn-height;
			@include 				flex( 0 0 $btn-height );
		}
	}

	&.-space-around { @include space-around(); }
	&.-space-between { @include space-between(); }

	&.-left {
		@include 				justify-content( flex-start );
		float: 					none;
	}

	&.-center {
		@include 				justify-content( center );
	}

	&.-right {
		@include 				justify-content( flex-end );
		float: 					none;
	}
}

// ======================================================================================================= CLASSES

button, .btn { @extend %btn; }

.btn-group{ @extend %btn-group; }

// ======================================================================================================= RESPONSIVE

// ...

// ======================================================================================================= ANDROID FIX

.dev-android {
	&.dev-android-4,
	&.dev-android-5-0 {

		.btn {
			font-size: 				$btn-font-size * 1.11112 !important;
			line-height: 			$btn-height * 1.3 !important;

			-webkit-font-smoothing: antialiased;
			-webkit-text-stroke: 	0.2px;

			&.-icon {
				font-size: 				150% !important;
				line-height: 			$btn-height * 1.3 !important;
			}

			.btn-badge {
				line-height: 			$btn-badge-size * 1.3 !important;
			}
		}
	}
}
