// ======================================================================================================= VARS

$callout-height:			$default-height;
$callout-border-size: 		2px;
$callout-padding: 			($callout-height - $desktop-font-size) / 2 - ($callout-border-size * 2);

// ======================================================================================================= TEMPLATES & MIXINS

%callout {
	@include 				display-flex();
	@include 				flex-flow( row wrap );
	width: 					100%;
	min-height: 			$callout-height;
	margin-bottom:			$base-margin / 2;

	text-align: 			left;
	font-size: 				$desktop-font-size;
	border: 				$callout-border-size solid;

	@include 				draw( $content-color-txt, $content-color-bg, $content-color-br );
	@include 				round( 3px );
	box-sizing: 			border-box;

	.row { margin: 0 !important; }

	.cell, [class^="cell-"], [class*=" cell-"] {
		padding: 				$callout-padding ($base-padding / 2);
		line-height: 			150%;
	}

	&.-glass { @include draw( $content-color-txt, transparent ); }

}

// ======================================================================================================= CLASSES

.callout { @extend %callout; }

// ...
