// ======================================================================================================= VARS

$chat-odd-color-txt:		$content-color-bg;
$chat-odd-color-bg:			rgba( $content-color-txt, .75 );

$chat-default-height: 		$default-height; 															// chat - default height
$chat-default-height-s:		$default-height / 1.5;														// chat - default height [SMALL]

$chat-border-size: 			1px;
$chat-cell-padding: 		($chat-default-height - $desktop-font-size) / 2 - ($chat-border-size * 2);

// ======================================================================================================= TEMPLATES & MIXINS

%chat {
	position:				relative;
	display:				block;
	width: 					100%;
	margin: 				0;
	padding: 				0;

	.chat-bubble {
		position:				relative;
		width: 					auto;
		margin-bottom: 			$base-margin / 2 !important;
		margin-right: 			$chat-default-height / 2;

		@include 				round( $chat-default-height / 2 !important );

		color: 					$content-color-txt;
		background-color: 		rgba( $content-color-bg, .75 );
		border-right-color: 	rgba( $content-color-bg, .75 ) !important;
		border-left-color: 		rgba( $content-color-bg, .75 ) !important;

		.cell, [class^="cell-"], [class*=" cell-"] {
			padding: 				$chat-cell-padding ($base-padding / 2);

			text-align: 			left;
			line-height: 			120%;

			&.-icon {
				width: 					$default-height;
				height: 				$default-height;
				line-height:			$default-height;
				text-align: 			center;
				font-size: 				120%;
				padding: 				0;

				& + .cell,
				& + [class^="cell-"],
				& + [class*=" cell-"] { padding-left: 0; }
			}
		}

		&:last-child { margin-bottom: 0; }

		&:before {
			position: 				absolute;
			display: 				block;
			width: 					0;
			height: 				0;
			margin-top: 			-$chat-default-height / 4;
			content: 				" ";
			top: 					50%;
			right: 					100%;

			pointer-events: 		none;

			border: 				solid transparent;

			border-right-color: 	inherit;
			border-width: 			$chat-default-height / 4;
		}

		&.-odd {
			margin-left: 			$chat-default-height / 2;
			margin-right: 			0;
			color: 					$chat-odd-color-txt;
			background-color: 		$chat-odd-color-bg;
			border-right-color: 	$chat-odd-color-bg !important;
			border-left-color: 		$chat-odd-color-bg !important;

			&:before {
				left: 					100%;
				right: 					auto;
				border-right-color: 	transparent;
				border-left-color: 		inherit;
			}
		} //-- end of .-alter

	}
}

//================================================================================ CLASSES

.chat { @extend %chat; }

//================================================================================ RESPONSIVE
