<!DOCTYPE html>
<html charset="utf8">
	<head>
		<title>codeGems - Gemini UI Framework - Components - Buttons</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="header">
			<h1 class="title">BUTTONS</h1>
		</div>

		<div class="breadcrumbs">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li><a href="index.html">Components</a></li>
				<li><a href="#">Buttons</a></li>
			</ul>
		</div>

	</body>
</html>
