<!DOCTYPE html>
<html charset="utf8">
	<head>
		<title>codeGems - Gemini UI Framework - Components - Buttons</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div class="header">
			<h1 class="title">BUTTONS</h1>
		</div>

		<div class="breadcrumbs">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="index.html">Components</a></li>
				<li><a href="#">Buttons</a></li>
			</ul>
		</div>
		<div class="content">
			<button>Default button</button>
			<button class="btn -primary">Primary button</button>
			<button class="btn -secondary">Secondary button</button>
			<button class="btn -tertiary">Tertiary button</button>
		</div>
		<h2 class="title">Outline</h2>
		<div class="content">
			<button class="btn -outline">Default button</button>
			<button class="btn -primary -outline">Primary button</button>
			<button class="btn -secondary -outline">Secondary button</button>
			<button class="btn -tertiary -outline">Tertiary button</button>
		</div>
	</body>
</html>
