<!DOCTYPE html>
<html charset="utf8">
<head>
	<title>codeGems - Gemini UI Framework - Components</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="-pad-l">
	<h1>Table of content</h1>
	<hr>
	<h2>Components</h2>
	<ul>
		<li><a href="alerts.html">Alerts</a></li>
		<li><a href="banner.html">Banner</a></li>
		<li><a href="buttons.html">Buttons</a></li>
		<li><a href="callouts.html">Callouts</a></li>
		<li><a href="input-box.html">Input box</a></li>
	</ul>
</body>
</html>
