// ======================================================================================================= VARS
// vars can be moved to base/_vars.scss file in case of supporting multiple themes

$grid-columns: 						12;																	// number of columns in a grid

// ======================================================================================================= TEMPLATES & MIXINS

%clearfix {
	&:before, &:after { display: table; content: " "; }
	&:after { clear: both; }
}

%row {
	@include 				display-flex();
	@include 				border-box();
	width:					100%;
}

%cell {
	@include 				flex( 0 0 auto );
	@include 				border-box();
}

@mixin cell-width( $size ) {
	$proc:					( 100% / $grid-columns ) * $size;
	@include 				flex( 0 0 $proc );
	width:   				$proc;
}

// ======================================================================================================= CLASSES

.row {
	@extend %row;
	@extend %clearfix;
}

@for $i from 1 through $grid-columns {
	.-xs#{$i}, .-s#{$i}, .-m#{$i}, .-l#{$i}, .-xl#{$i} {
		@extend %cell;
	}

}

// ======================================================================================================= RESPONSIVE

@media all and ( max-width: $screen-size-l ) {

	@for $i from 1 through $grid-columns {
		.-l#{$i} { @include cell-width( $i ); }
	}

}

@media all and ( max-width: $screen-size-m ) {

	@for $i from 1 through $grid-columns {
		.-m#{$i} { @include cell-width( $i ); }
	}

}
