
%notify-me {
	position: 				fixed;
	display: 				none;
	width: 					100%;
	max-width: 				480px;
	top: 					0;
	right: 					0;

	padding: 				0;
	@include 				draw( $action-info-txt, $action-info-bg, $action-info-br );

	z-index: 				1000;

	-webkit-transform-origin: 50% 0%;
			transform-origin: 50% 0%;

	backface-visibility: 	hidden;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

	&.-show {
		display: 				block !important;

		-webkit-animation-name: flipInX;
				animation-name: flipInX;
	}

	&.-hide {
		display: 				block !important;
		-webkit-animation-name: flipInXSimple;
				animation-name: flipInXSimple;
		-webkit-animation-duration: 0.4s;
				animation-duration: 0.4s;
		-webkit-animation-direction: reverse;
				animation-direction: reverse;
	}

	.nm-title, .nm-body { width: 100%; }
	.nm-body {
		opacity: 			.8;
		font-size: 			.8em !important;
	}

}

// =============================================================================== CLASSES

.notify-me { @extend %notify-me; }

// =============================================================================== ANIMATIONS


@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
		-webkit-transition-timing-function: ease-in;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
		-webkit-transition-timing-function: ease-out;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
		-webkit-transition-timing-function: ease-in;
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
		-webkit-transition-timing-function: ease-out;
	}

	100% {
		-webkit-transform: perspective(400px);
	}
}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
		transform: perspective(400px) rotate3d(1,0,0,-90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
		transform: perspective(400px) rotate3d(1,0,0,20deg);
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
		transform: perspective(400px) rotate3d(1,0,0,-10deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
		transform: perspective(400px) rotate3d(1,0,0,5deg);
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@-webkit-keyframes flipInXSimple {
  0% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
	-webkit-transition-timing-function: ease-in;
  }
  100% {
	-webkit-transform: perspective(400px);
  }
}

@keyframes flipInXSimple {
  0% {
	-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
  }
  100% {
	-webkit-transform: perspective(400px);
	transform: perspective(400px);
  }
}
