// ======================================================================================================= VARS

// vars can be moved to base/_vars.scss file in case of supporting multiple themes

// ======================================================================================================= TEMPLATES & MIXINS

%page {
	@include 				display-flex();
	@include 				flex-flow( column nowrap );

	width: 					100%;
	min-height:				100vh;

	&.-top { @include justify-content( flex-start ); }
	&.-middle { @include justify-content( center ); }
	&.-bottom { @include justify-content( flex-end ); }

	&.-space-around { @include justify-content( space-around ); }
	&.-space-between { @include justify-content( space-between ); }

	&.-mobile {
		max-width: 				414px;
		margin: 				0 auto;
	}
}

// ======================================================================================================= CLASSES

.page { @extend %page; }

// ======================================================================================================= RESPONSIVE

// ...
